# Ignore the virtual environment for Django (backend)

.venv/
backend/.env
backend/**/__pycache__/
backend/db.sqlite3

# Django logs and temp files
backend/*.log
backend/tmp/
backend/media/
backend/staticfiles/

# Next.js build files (frontend)
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env.development
frontend/.env.production

# Ignore lock files for npm/yarn
frontend/package-lock.json
frontend/yarn.lock

# Ignore MacOS system files
.DS_Store

# Ignore IDE and editor specific files
.vscode/
.idea/
*.swp


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
